<%
  submit_text ||= nil
  submit_url ||= {
    :controller => :railsgame,
    :action => :chat_to_channel,
    :channel => :chat,
    :container_id => id + "_list",
    :outside_tag => "li",
    :update_fn => "RG.fn.append_to_container"
 }
 text_input_size ||= 20
 max_lines ||= 10
%>

<div id="<%= id -%>">
  <p id="<%= id -%>_debug" class="debug"> </p>
  <ul id="<%= id -%>_list" class="chat_area" style="list-style:none">
  </ul>
</div>
<%= form_remote_tag(:url => submit_url,
                    :complete => "$('#{id}_input').value = ''" ) %>
  <%= text_field_tag( "#{id}_input", '', { :size => text_input_size } ) %>
  <%= submit_tag (submit_text || "Chat") %>
</form>

<% javascript_tag do -%>
  RG.max_lines = <%= max_lines -%>;
<% end -%>
