<%
  data_container_id ||= id + "_data"
  url_options ||= {}
  grid_size ||= [ 3, 3 ]
  tile_spacing ||= [ 75, 75 ] # width, height
  tile_size ||= nil
  click_url ||= {
    :controller => :railsgame,
    :action => :hexgrid_container_select,
    :container_id => data_container_id,
    :id => id,
  }.merge(url_options)

  def size_from(obj)
    return [obj, obj] if obj.kind_of? Integer
    return [obj[0], obj[1]] if obj.kind_of? Array
    raise "Can't get size from object #{obj.inspect}!"
  end

  grid_width, grid_height = size_from(grid_size)
  spacing_width, spacing_height = size_from(tile_spacing)
  tile_width, tile_height = size_from(tile_size)
%>

<div id="<%= id -%>">
  <p id="<%= id -%>_debug" class="debug"> </p>
  <div id="<%= data_container_id -%>" class="container_data" style="position:relative">
    <% img_url = "http://noahgibbs.github.com/Astrino/images/hexmeadow.png"
    total_height = spacing_height * (grid_height + 1)
    total_width = spacing_width * (grid_width + 1) * 2
    even_offset = 0
    odd_offset = spacing_height / 2
    (1..grid_height).each do |hex_y|
      (1..grid_width).each do |hex_x|
        x = spacing_width * (hex_x - 1)
        y = spacing_height * (hex_y - 1)
        y += ((hex_x % 2 == 0) ? even_offset : odd_offset)
        click_url[:x] = hex_x
        click_url[:y] = hex_y
        alt = "(Location: #{hex_x}, #{hex_y})"
        style = "position:absolute; left:#{x}px; top:#{y}px;" -%>
        <%= link_to_remote("<img alt=\"#{alt}\" src=\"#{img_url}\" " +
             "id=\"#{id}_img_#{hex_x}_#{hex_y}\"" +
             "style=\"#{style}\" width=#{tile_width}px " +
             "height=#{tile_height}px />", :url => click_url) %>
      <% end -%>
    <% end -%>
  </div>

  <!-- This spacer div makes room for the absolutely positioned hexgrid -->
  <div id="<%= id -%>_spacer" style="height: <%= total_height -%>px; width: <%= total_width -%>px;">
  </div>
</div>

<% javascript_tag do -%>
hash = {type: "hexgrid"};
hash["width"] = <%= grid_width -%>;
hash["height"] = <%= grid_height -%>;

RG.fn.register_container(\"<%= data_container_id -%>\", hash);
<% end -%>
