<%= javascript_include_tag 'prototype', :juggernaut %>
<%= juggernaut :client_id => @current_user.login,
    :session_id => @jcookie,
    :debug => false,  # Uncomment for Juggernaut info in console or alerts
    :channels => [ :chat, :game ] %>
<%= stylesheet_link_tag 'game' %>
<%= javascript_include_tag 'railsgame' %>

<p>
  Logged in as <%= @current_user.login %>.
</p>

<div id="world_area">
  <p id="world_debug"> </p>
  <p id="world_data"></p>
</div>

<%= form_remote_tag(:url => { :action => :send_action_text },
                    :complete => "$('action_text').value = ''" ) %>
  <%= text_field_tag('action_text', '', { :size => 30,
                                           :id => 'action_text' } ) %>
  <%= submit_tag "Do It" %>
</form>

<%= render :partial => "railsgame/chat_container",
           :locals => { :id => 'chat', :submit_url => { :action => :send_chat_data } } %>

<script type="text/javascript">
//<![CDATA[
function add_chat(client, str) {
  $('chat_debug').innerHTML = "Length: " + $('chat_list').childNodes.length

  Element.insert("chat_list", { top: "<li> &lt;" + client + "&gt;: " +
                 str + "</li>" });
}

function add_world_output(str) {
  Element.insert("world_data", { bottom: str });
}

function replace_world_output(str) {
  $('world_data').innerHTML = str
}

function world_eval(str) {

}
//]]>
</script>
