<h1> <%= ENV['RG_SITE_NAME'] %> </h1>

<p>
  Welcome to <%= ENV['RG_SITE_NAME'] %> at <%= ENV['RG_SITE_URL'] %>.
  This file is what people will see when they first
  log into your MUD, so you should probably change it to say something
  that doesn't sound like 'fill in the blanks', too.
</p>

<p>
  Make sure to fully edit private_variables.sh, if you haven't already.
  It sets things like the URL and game name above, and many other
  very important things.
</p>

<p>
  You can find it at
  <span class="filename"><%= __FILE__ %></span>.
</p>

<% if @current_user %>
<div id="gameLogin">
  <p> <span id="gameLoginPara">
    <%= link_to("Click Here", :action => 'full') %> </span>
  </p>
</div>
<% end %>

<!-- The login/logout/name bar -->
<div id="loginBar">
<table>
<tr>
  <% unless @current_user %>
  <td id="regButton">
    <%= button_to("Register", :controller => 'users', :action => 'new') %>
  </td>
  <td id="loginButton">
    <%= button_to("Log In", :controller => 'sessions', :action => 'new') %>
  </td>
  <% else %>
  <td id="logoutButton">
    <%= button_to("Log Out", :controller => 'sessions', :action => 'destroy') %>
  </td>
  <% end %>
  <td id="loginEntry">
    <%= @current_user ? "Logged in as #{@current_user.login}" :
	"Not logged in" %>
  </td>
</tr>
</table>
</div>
